<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('blocks/header.ejs'); %>
    <h2>This is About page</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia modi corrupti accusantium 
    asperiores, aliquam aperiam. Ab cum error rem eligendi, beatae quisquam atque fuga perspiciatis 
    quibusdam. Deserunt voluptatem accusantium quidem?
</body>
</html>
